.gray { color: gray; }
.green { color: green; }
.purple { color: purple; }
.blue { color: blue; }
.red { color: red; }
.maroon { color: maroon; }
.center { text-align: center; }
.text-lg { font-size: 1.125rem; font-weight: bold; }
.text-sm { font-size: 87.5%; }
.v-numbers { font-size: 67.5%; vertical-align: super; }
.lang0 { width: 100%; padding-right: 15%; padding-left: 15%; }
.lang1 { width: 50%; padding-right: 5pt; border-right: 1pt solid; }
.lang2 { width: 50%; padding-left: 5pt; }
.table { display: table; width: 100%; padding-top: 20pt; }
.table-row { display: table-row; }
.table-cell { display: table-cell; vertical-align: top; text-align: justify; }
h1, h2, h3 { text-align: center; break-after: avoid-page; }
h1 { padding-top: 30%; }
h2 { margin-top: 3rem; margin-bottom: 0rem; }
.text-xl {
  font-size : 2.55rem;
  float : left;
  line-height : 1;
  margin-top : -0.1rem;
  margin-right : 0.15rem;
  margin-bottom : -0.3rem;
}
.toc-hora { display: inline; }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a:link, a:visited, a:hover, a:active {
  color: black;
  text-decoration: none;
}
body { text-indent: 0px; }
